.body {
   padding: 20px;
}

.button_container {
   display: flex;
   justify-content: center;
   gap: 5px;
   margin: 10px 0px;
}

.donate_button {
   background-color: #F69220;
   border: none;
   padding: 10px 20px;
   font-weight: bold;
}

.lock_icon {
   width: 15px;
   padding-left: 5px;
}

.banner {
   background-color: #FBCE9A;
   padding: 20px;
   margin: 10px 0px;
   font-size: 14px;
}

.tab_footer {
   margin: 0;
}

@media screen and (max-width: 720px) {
   p {
      text-align: center;
   }

   .button_container {
      flex-wrap: wrap;
      justify-content: center;
   }
}

@media screen and (max-width:480px) {

   .button_container {
      justify-content: space-between;
      padding: 10px 0;
   }

   .donate_button {
      width: 100%;

   }
}