.main_container{
   background-color: #EAEDF4;
   font-size:11px;
   margin:0;
   padding:20px;
   display:flex;
   justify-content: space-between;
   gap:20px;
   align-items: center;
   width:100%
}

.tab_link{
   text-decoration: underline;
}

.tab_link:hover{
   cursor:pointer;
   color:grey;
}

.middle_text{
   font-size: 9px;
}

.images{
   display:flex;
   justify-content: center;
   gap:10px;
}

@media screen and  (max-width:480px ){
   .main_container{
      flex-direction: column-reverse;
      gap: 20px;
      padding:20px 0
   }
   .images{
      width:100%;
      gap:20px;
      flex-wrap: wrap;
   }
}